* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}
body {
    background-color: rgb(245, 245, 246);
    
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* ===============================
HEADER
=============================== */

.container {
    width: 100%;
    padding: 0 15vw;
}

.header {
    z-index: 100;
    position: fixed;
    margin-top: 10px;
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    
    /* 1. Efeito de Vidro */
    background: rgba(0, 0, 0, 0.1); 
    border: 1.5px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 30px;
}   

.header-logo {
    display: flex;
    flex-direction: column;
    height: 50px;
}

/* .navbar {

} */
.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 300;

    transition: all ease 0.3s;
}
.navbar a:hover {
    color: #398fff;
}

/* ===============================
HERO SECTION
=============================== */

.hero-section {
    background-color: #050505;
    color: white;
    padding: 100px 0;
    overflow: hidden;
}

.hero-container {
    position: relative;
    height: 70vh;
}

.efx {
    position: absolute;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0,19,113,1) -50%, rgba(0,0,0,0) 70%);
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.hero-logo {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

.hero-content-text h1{
    color: white;
    font-weight: 200;
}
.animation-container {
    width: 325px;
    overflow: hidden;
}
.hero-animation {
    color: rgb(57, 129, 255);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-weight: 700;
    font-size: 40px;
    transform: translateX(-1400px);
    animation: animate 10s ease infinite;
}

@keyframes animate {
    10% {transform: translateX(-1100px);}
    
    20% {transform: translateX(-1100px);}
    
    30% {transform: translateX(-730px);}
    40% {transform: translateX(-730px);}
    
    50% {transform: translateX(-400px);}
    60% {transform: translateX(-400px);}
    
    70% {transform: translateX(0);}
    80% {transform: translateX(0);}
    100% {transform: translateX(350px);}
}
/* ===============================
HEADER
=============================== */

/* ===============================
HEADER
=============================== */

/* ===============================
HEADER
=============================== */

/* ===============================
HEADER
=============================== */

/* ===============================
HEADER
=============================== */

/* ===============================
HEADER
=============================== */

/* ===============================
HEADER
=============================== */
